.password{
    background: #EFD700;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    margin: 5rem 0 5rem 0;
}

.text p{
    font-weight: 700;
}

.pass{
    text-align: center;
    margin-bottom: 6rem;
    font-size: 4rem;
    font-weight: 700;
}

.btns{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.btns svg{
    color: #EFD700;
}

.btns a{
    text-decoration: none;
    color: #EFD700;
}

.btnCopy{
    width: 4rem;
    height: 5rem;
    border-radius: 11px;
    background: #11161B;
    color: #EFD700;
    cursor: pointer;
    font-weight: 700;
}

.btnCopy svg{
    font-size: 2rem;
}

.btnGen{
    width: 4rem;
    height: 5rem;
    border-radius: 11px;
    background: #11161B;
    color: #FFF;
    margin-left: 4rem;
    cursor: pointer;
    font-weight: 700;
}

.btnGen svg{
    font-size: 1.5rem;
}

.btnBack{
    background: #EFD700;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btnBack a{
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.btnBack svg{
    font-size: 1.7em;
    margin-right: 1rem;
}

.btns button{
    border: none;
}